.create-div{
    display: flex;
    flex-direction: col;
    width: 70%;
    margin-left: 100px;
}

.create-input, select {
    background: #F4F4F4;
    width: 653px;
    height: 50px;
    margin-top: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 7px;
    padding: 10px;
    font-size: 22px;

}

textarea{
    font-family: sans-serif;
    background: #F4F4F4;
    margin-top: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 7px;
    padding: 10px;
    line-height: 1.5; 
    text-align: left;  
}

.text-area{
    display: flex;
    gap: 10px;
}

.text-area-label{
    margin-top: 25px;
}

.titles{
    font-weight: 400;
    font-size: 22px;
}

.add-candi-btn{
    margin-left: 10px;
    font-size: 28px;
    background-color: grey;
}

.remove-candi-btn{
    margin-left: 30px;
    font-size: 22px;
}

.title{
    margin-left: 130px;
}

.description{
    margin-left: 50px;
    font-size: 22px;
}
.experience{
    margin-left: 50px;
}

.date{
    margin-left: 85px;
}

.candidates{
    margin-left: 22px;
}

.candidate-div{
    font-size: 22px;
    margin-left: 230px;
    margin-top: 15px;
}

.send-btn{
    margin-top: 10px;
    margin-left: 630px;
    width: 200px;
    height: 43px;
    border-radius: 7px;
    background: #0B66EF;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
}